/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/public/assets/bower_components
composer.lock
.idea/NazarSanji.iml
.idea/blade.xml
.idea/copyright/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
/.phpstorm.meta.php
/_ide_helper.php

